* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
 
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #241f1a;
    padding: 10px 50px
    ;
}

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;

}

/* acá tengo los estilos del header*/

#logo {
    width: 50px;
}

#logo img {
    border-radius: 100%;
}

/* Estilos de Hero */

#hero {
    position: relative;
}

#hero #background {
    display:inline-block;
    width: 100%;
}

#hero .information{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: #FEF6C9;
    padding:50px 50px;
}

#hero .information #mauricio-photo{
    width: 200px; ;
}

#hero .information #mauricio-photo img{
    border-radius: 100%;
}

#hero .information .information-container{
    margin-left: 30px;
    font-weight: bold;
    width: calc(100% - 200px);
}

#hero .information .information-container span{
    display: inline-block;
    color: #e0d8b8;
    margin-bottom: 80px;
}

/* Estilos del Main*/

main {
    padding: 100px;
    background-color: #fef6c9;
}

main .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}
main .social-icons li {
    margin-top: 40px;
}

main .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 15px;
    margin-left: 8px;
    border-radius: 10px;
    
}

main .social-icons img {
    width: 70px; ;
    filter: invert(100%);
}

main .social-icons #linkedin{
    background:#0077b0;
}

main .social-icons #github{
    background-color: #23272d ;
}

main .social-icons #instagram{
    background-color: #d63e6e;
}
